@use 'utility' as u;

:root {
    --c-white: #fffdfa;
    --c-blue: #00001a;
    --c-gray: #5e607a;
    --c-red: #f15d51;
    --c-silver: #c5c6ce;
    --c-yellow: #e9aa52;
    --f-xl: clamp(u.rem(40), 1.949823943661972rem + 2.3474178403755865vw, u.rem(56));
    --f-l: clamp(u.rem(32), 1.823943661971831rem + 0.7511737089201878vw, u.rem(40));
    --f-m: u.rem(32);
    --f-s: u.rem(20);
    --f-xs: u.rem(18);
    --f-xs: u.rem(18);
    --f-body: u.rem(15);
}